<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Concept Discovery</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='CSS/mod_concept_discovery/concept_form.css') }}">
</head>
<body>
    <form action="{{ url_for('conceptDiscovery.upload_concepts') }}" enctype="multipart/form-data" method="POST">
        {{ form.hidden_tag() }}  <!-- Needed to ensure that wtf finds the CSRF token as part of the form data. -->

        <h1>Concept Search</h1>
        <hr>

        {% if form.errors %}
            <p class="errorsPresent">
                Sorry, something went wrong. Please check the form for errors, correct them and submit again.
            </p>
        {% endif %}

        <section>
            <fieldset class={{ "errorsPresent" if form.conceptSubmit.errors else "" }}>
                <legend>Concept Upload Options</legend>
                {% if form.conceptSubmit.errors %}
                    {% for error in form.conceptSubmit.errors %}
                        <p class="errorMessage">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <em>Enter concept definitions in the text box or upload a file of definitions.</em>
                <p>
                    {{ form.conceptText }}
                </p>
                <p>
                    {{ form.conceptFile }}
                </p>
            </fieldset>
        </section>

        <section>
            {% set formatErrors = form.codeFormats.errors %}
            <fieldset class={{ "errorsPresent" if formatErrors else "" }}>
                <legend>Code Format Options</legend>
                {% if formatErrors %}
                    {% for error in formatErrors %}
                        <p class="errorMessage">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <em>Select code formats to find.</em>
                <ul>
                    {% for option in form.codeFormats %}
                        <li>
                            {% if formatErrors %}
                                {{ option }} {{ option.label }}
                            {% else %}
                                {{ option(checked=option.data == form.codeFormats.default) }} {{ option.label }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>
        </section>

        <section id="buttons">
            {{ form.conceptSubmit }}
        </section>

    </form>
</body>
</html>