form {
    border : 1px solid #CCC;
    border-radius: 1em;
    margin: 0 auto;
    padding: 1em;
    padding-top: 0;
    width : 50%;
}

header {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin: 0.5em;
    text-align: center;
}

hr {
    margin: 1em 0;
}

textarea {
    font-size: 1.1em;
    height: 10em;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    resize: vertical;
    width: 100%;
}

fieldset {
    border-style: solid;
    margin: 0.5em 0;
}

legend {
    font-weight: bold;
}

ul {
    list-style: none;
    margin : 0.5em 1em;
    padding: 0;
}

fieldset.errorsPresent {
    border-color: red;
}

p.errorsPresent {
    background-color: red;
    border-radius: 0.3em;
    color: white;
    font-size: 1.1em;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
}

.errorMessage {
    color: red;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
}

.textAreaFormat {
    display: inline;
    margin: 0;
}

.textAreaFormat li {
    display: inline;
    margin: 0 0.5em;
}

#buttons input[type=submit] {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}
