footer.navControl {
    margin-bottom: 0;
    width: 100%;
}

section.conceptDefs {
    display: inline-block;
    margin: 0 1.5%;
    width: 30%;
}

section.codeViewer {
    display: inline-block;
    margin: 0 1.5%;
    width: 60%;
}
