<form action="{{ url_for('codesFromConcepts.get_codes') }}" class="conceptForm" enctype="multipart/form-data" method="POST">
    {{ form.hidden_tag() }}  <!-- Needed to ensure that wtf finds the CSRF token as part of the form data. -->
    {% if form.errors %}
        <p class="errorsPresent">
            Sorry, something went wrong. Please correct any errors and submit again.
        </p>
    {% elif form.saveDefinition.data %}
        <p class="saveSuccess">
            Concept successfully saved.
        </p>
    {% endif %}
    <section>
        <fieldset class={{ "errorsPresent" if form.updateDefinition.errors else "" }}>
            <legend>Concept Definition</legend>
            {% if form.updateDefinition.errors %}
                {% for error in form.updateDefinition.errors %}
                    <p class="errorMessage">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <em>{{ form.conceptName.label }}</em>
            {{ form.conceptName }}
            <em>{{ form.positiveTerms.label }}</em>
            {{ form.positiveTerms }}
            <em>{{ form.negativeTerms.label }}</em>
            {{ form.negativeTerms }}
            <em>{{ form.codes.label }}</em>
            {{ form.codes }}
        </fieldset>
    </section>
    <section>
        {% set formatErrors = form.codeFormats.errors %}
        <fieldset class={{ "errorsPresent" if formatErrors else "" }}>
            <legend>Code Format</legend>
            {% if formatErrors %}
                {% for error in formatErrors %}
                    <p class="errorMessage">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <em>Select a code format to use.</em>
            <ul id="codeFormat">
                {% for option in form.codeFormats %}
                    <li>
                        {% if formatErrors %}
                            {{ option }} {{ option.label }}
                        {% else %}
                            {{ option(checked=option.data == form.codeFormats.default) }} {{ option.label }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
    </section>
    <section id="defUpdate">
        {{ form.updateDefinition }}
        {{ form.saveDefinition }}
        {{ form.extractCodes }}
    </section>
</form>
