<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <title>Code Extraction</title>
        <link rel=stylesheet
              type=text/css
              href="{{ url_for('static', filename='CSS/mod_codes_from_concepts/get_codes.css') }}">
    </head>
    <body>
        <div class="conceptSearch">
            <section id="conceptDefs">
                {% include "mod_codes_from_concepts/concept_form.html" %}
            </section>
            <section id="codeViewer">
                Viewer
            </section>
            <footer id="navControl">
                Concept Picker
                {{ form.multiConceptFile }}
            </footer>
        </div>
        <script type=text/javascript src="{{ url_for('static', filename='JS/jquery.js') }}"></script>
        <script type=text/javascript
                src="{{ url_for('static', filename='JS/mod_codes_from_concepts/get_codes.js') }}"></script>
    </body>
</html>